main {
  margin-top: 7%;
  .container {
    font-size: 3rem;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    .flex {
      margin: 0 2%;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
} 