main {
  margin-top: 7%;
  .form-wrapper {
    background: #fafafa;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      .form-input {
        height: 5.5rem;
        width: 53rem;
        margin-top: 2%;
        font-size: 3rem;
      }
      .field-icon {
        width: 1.5rem;
        font-size: 1.5rem;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        top: -3.3rem;
        left: 24rem;
      }
      .form-btn-container {
        margin-top: 5%;
        .btn {
          height: 6rem;
          width: 28rem;
          font-size: 2.8rem;
        }
      }
      .form-regist-container {
        margin-top: 1%;
        .form-regist {
          font-size: 1.5rem;
          color: #8c8c8c;
          &:hover {
            border-bottom: 0.1rem dotted #8c8c8c;
          }
        }
      }
    }
  }
}
